name: Pester Test
on: push

jobs:
  windows-latest:
    name: Windows Latest
    runs-on: windows-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.200'
      - name: Build
        shell: pwsh
        run: |
          & ./Build.ps1 Release
      - name: Run tests on pwsh
        shell: pwsh
        run: |
          & ./tests/RunPesterTests.ps1

  macos-latest:
    name: macOS Latest
    runs-on: macos-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.200'
      - name: Build
        shell: pwsh
        run: |
          & ./Build.ps1 Release
      - name: Run tests
        shell: pwsh
        run: |
          & ./tests/RunPesterTests.ps1

  ubuntu-latest:
    name: Ubuntu Latest
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.200'
      - name: Build
        shell: pwsh
        run: |
          & ./Build.ps1 Release
      - name: Run tests
        shell: pwsh
        run: |
          & ./tests/RunPesterTests.ps1
